/*Header Section*/
.header-style-1 .search-style-2 form input {
    background-image: none;
}

/*All Category Page*/
.category_image {
    height: 50px;
    width: 80px;
    margin-right: 20px;
}

/*Customer dashboard*/
.dashboard .card {
    margin-bottom: 25px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.4s;
    border: 2px solid gainsboro;
    padding: 30px 10px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%) !important;
}

img {
    object-fit: cover;
}

.dashboard .card i {
    font-size: 35px;
    margin-bottom: 10px;
    color: #CC0715;
}

@media only screen and (max-width: 991px) {
    .cart_hidden_mobile {
        display: none;
    }
}

.main-menu>nav>ul>li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.header-style-1 .categories-dropdown-active-large {
    margin-top: 13px;
}

/*Custom Dashboard*/

/*Product fixed*/

/*.product-cart-wrap{
    min-height: 450px;
}
.product-shop .product-cart-wrap{
    min-height: 385px;
}*/

.product-tabs .common-product .product-cart-wrap {
    margin: 0px 5px;
}

/*Product fixed*/

.product-cart-wrap .product-badges-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-cart-wrap .product-badges-right.product-badges-mrg {
    margin: 0 0 10px;
}

.product-cart-wrap .product-badges-right.product-badges-position-right {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9;
}

.product-cart-wrap .product-badges-right span.hot {
    background-color: #CC0715;
}

.product-cart-wrap .product-badges-right span:last-child {
    margin-right: 0px;
}

.product-cart-wrap .product-badges-right span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 0 0 0 20px;
    color: #fff;
    padding: 9px 20px 10px 20px;
}

.product-cart-wrap .product-content-wrap h2 {
    margin-bottom: 0px !important;
}

.product-cart-wrap .product-content-wrap .product-category {
    margin-bottom: 0px !important;
    /* margin-top: 27px; */
}

.custom-modal .modal-dialog .modal-content {
    max-height: 90vh;
    overflow: auto !important;
}

.cart-dropdown-wrap {
    overflow-y: auto;
    min-height: 80px;
    max-height: 50vh;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button {
    margin-bottom: 30px;
}

.cart-dropdown-wrap ul li {
    flex-wrap: nowrap;
}

.banners .banner-img {
    height: 100%;
    padding-bottom: 20px;
}

.banners .banner-img img {
    height: 100%;
}

@media only screen and (max-width: 1199px) {
    .mobile_margin_bottom {
        margin-bottom: 63px;
    }
.all_categories_wrapper {
    margin-left: 75px !important;
}
    .main-menu ul li {
        padding: 6px !important;
    }

    .all__categories li span {
        padding: 5px 10px !important;
        font-size: 13px !important;
    }

    .main-menu ul li a {
        font-size: 13px !important;
    }

    .all__categories .category,
    .all__categories .category li .subcategory,
    .all__categories .category li .subcategory .childcategory {
        padding: 5px !important;
    }

    .et {
        display: none;
    }

    /* .header-info > ul > li.contact_header{
        display: none;
    } */
    #scrollUp {
        right: 12px;
        bottom: 96px;
    }

    /*Main Footer*/
    .main.footer-dark {
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 993px) {
    .custom-modal .modal-dialog .modal-content .title-detail {
        font-size: 23px;
    }
.logo img {
    width: 150px !important;
}
    .detail-info .product-price .current-price {
        font-size: 40px;
    }

    .detail-info .product-extra-link2 .button.button-add-to-cart {
        padding: 0px 15px;
    }

    .header-bottom {
        padding: 10px 0;
    }

    .logo.logo-width-1 {
        margin-right: 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    /*View Cart*/
    .shopping-summery button.btn {
        width: 39px;
        margin-left: 9px;
    }
}

@media only screen and (max-width: 767px) {
    .custom-modal .modal-dialog .modal-content {
        height: 100vh !important;
    }

    .detail-info .product-price {
        flex-wrap: wrap;
    }

    .section-title h3 {
        font-size: 23px;
        margin-right: 0px;
    }

    .mobile-header-wrapper-style {
        width: 315px !important;
    }

    .special__section {
        text-align: center;
    }
}


@media only screen and (max-width: 575px) {
    .special__section {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .detail-info .product-price .current-price {
        font-size: 30px;
    }

    .special__section {
        text-align: center;
    }

    .hero-slider-1 .single-hero-slider .display-2 {
        font-size: 23px;
    }

    .hero-slider-1 .single-hero-slider .slider-content form {
        display: none !important;
    }

    .section-title h3 {
        font-size: 23px;
    }

    .product-tabs .section-title .nav {
        display: none;
    }

    .newsletter .newsletter-inner .newsletter-content form {
        display: none !important;
    }

    .archive-header h1 {
        font-size: 28px;
        color: #CC0715;
    }

    .shop-product-fillter .sort-by-product-area .sort-by-product-wrap {
        padding: 5px 5px;
    }

    .shopping-summery button.btn {
        width: 0px;
    }

    .shop-product-fillter .sort-by-product-area .sort-by-product-wrap .sort-by span {
        width: 75px;
    }

    .product-cart-wrap .product-content-wrap {
        padding: 0 10px 10px 10px;
    }

    .detail-info h2 {
        font-size: 26px;
    }

    .product-cart-wrap .product-content-wrap h2 {
        font-size: 14px;
    }

    .section-title.style-2 h3 {
        margin-bottom: 25px;
        font-size: 24px;
    }

    /*Product fixed*/

    /*.product-cart-wrap{
        min-height: 310px;
    }*/

    /*Product fixed*/

    .product-cart-wrap .product-card-bottom .add-cart .add {
        padding: 6px;
    }

    /*All category page*/
    .category-title {
        font-size: 17px;
    }

    .category_image {
        height: 41px;
        width: 65px;
        margin-right: 14px;
    }

    .shop-product-fillter-header .card {
        padding: 20px 20px;
    }

    .subcategory-title {
        font-size: 14px;
    }

    /*Custom Slider Campaign*/
    .common-product .slider-btn.slider-prev {
        right: 50px !important;
    }
}

/*Header Search*/
.search-area {
    position: relative;
}

.searchProducts {
    position: absolute;
    margin: auto;
    background: #ffffff;
    z-index: 999;
    border-radius: 15px;
    margin-top: 5px;
    width: 30%;
    min-height: 0px;
    max-height: 80vh;
    overflow-y: auto;
    left: 0;
    right: 0;
    margin: auto;
}

.product-price {
    text-align: start;
}

.advance-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

#btnGroupAddon {
    /*background-color:#38adf1;*/
    /*color: white;*/
    background-color: #eceef1;
    color: #000;
    cursor: pointer;
    border: none;
    z-index: 111;
}

#btnGroupAddon:hover {
    color: #fff;
}

.advance-search .search-box {
    margin: 0 !important;
    /*background: linear-gradient(to right,#CC0715,#9cbb5f);*/
    background-color: #fff;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.search-box input {
    border: 0;
    background: #fff;
    height: 45px;
    border-radius: 6px;
    padding-right: 30px;
    left: 53px;
}

.back_left {
    position: absolute;
    top: 19px;
    left: 19px;
    color: #000;
    font-size: 17px;
}

/* Mobile Bottom Nav */
.fs-10 {
    font-size: 10px;
}

.mobile_fixed_bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}

.gutters-5 {
    margin-right: -5px;
    margin-left: -5px;
}

.gutters-5>.col,
.gutters-5>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.mobile_bottom_nav_col {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    min-width: 0 !important;
    max-width: 100% !important;
}

.mobile-card-nav {
    height: 50px;
    width: 50px;
    border-width: 4px !important;
    background-color: #CC0715;
    border-radius: 50% !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.mobile_bottom_nav_account {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
}

.front-header-search {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s;
}

.front-header-search.active {
    transform: translateY(0%);
    opacity: 1;
}

/*Mobile-bottom-menu*/
.header-bottom-1 {
    padding-top: 10px;
}

.mobile-hor-swipe {
    overflow-x: auto;
    white-space: nowrap;
}

.header-bottom-1.header-bottom-bg-color.sticky-bar.stick {
    top: 55px;
}

/*Footer Section*/
/*.container-footer{
    max-width: 1140px;
}*/
.container-footer .footer-link-widget {
    margin-right: 0px;
}

/*CheckOut page*/
.cit-megabox {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.cit-megabox input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cit-megabox>input:checked~.cit-megabox-elem,
.cit-megabox>input:checked~.cit-megabox-elem {
    border-color: #CC0715;
}

.cit-megabox .cit-megabox-elem {
    border: 1px solid #e2e5ec;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
}


/* Home Page MiniCart Border Bottom Hide */
.cartBottom {
    border-bottom: 2px solid #eee;
}

.cartBottom::last-child {
    border-bottom: 0;
}

/*Custom Slider Campaign*/
.common-product .carausel-5-columns-cover .carausel-5-columns-arrow {
    margin-top: 0px;
}

.common-product .slider-arrow {
    top: 35%;
}

.common-product .carausel-5-columns-cover .product-cart-wrap {
    margin: 0px 5px 0px 5px;
}

.common-product .deals-countdown .countdown-section {
    padding: 15px 5px 29px 5px;
    background-color: #f2fce4;
    margin-left: 3px;
    margin-right: 3px;
}

.common-product .deals-countdown .countdown-section .countdown-amount {
    margin-bottom: 0;
}

/*Footer Section*/

/*footer Banner*/
/*.newsletter .newsletter-inner{
    background-image: none !important;
}*/

/*Footer Mid*/
.footer-dark .dark-section {
    background-color: #052B58;
}

.footer-dark .main-footer-custom p,
.footer-dark .main-footer-custom strong,
.footer-dark .main-footer-custom span,
.footer-dark .main-footer-custom h4,
.footer-dark .main-footer-custom a {
    color: #fff;
}

.footer-dark .dark-section p,
.footer-dark .dark-section strong,
.footer-dark .dark-section span,
.footer-dark .dark-section h6,
.footer-dark .dark-section a {
    color: #fff;
}

.footer-dark .main-footer-custom a:hover {
    color: #fff;
}

.footer-dark .mobile-social-icon a {
    background: #C13B2C;
}

/*===== Home 2 custom css ======*/
.home2_custom_banner.banner-img img {
    min-height: 240px;
}

.home2_custom_banner .home2_banner_title {
    margin-bottom: 20px;
}

.home2_custom_banner .home2_banner_button {
    margin-bottom: 5px;
}

.header-top-ptb-1 #news-flash {
    line-height: 14px !important;
}

.header-style-1 .header-top-ptb-1 {
    background-color: #052B58;
    color: #2d2d2d;
}

.header-action-2 .header-action-icon-2>a span {
    color: #2d2d2d;
}

.header-info>ul>li a {
    color: #fff !important;
    font-weight: 700;
}

li.junayna__outlet a {
    text-transform: uppercase;
    font-weight: 700 !important;
    transition: all .5s ease-in-out;
}

li.junayna__outlet a:hover {
    color: #CC0715 !important;
}

.footer-dark .dark-section .footer-link-widget .contact-infor img {
    background: aliceblue;
}

/* new customs css start */
.main-menu ul li a {
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.main-menu ul li {
    padding: 0 8px;
    position: relative;
    display: block;
}

.header-right ul li {
    margin-left: 15px;
    position: relative;
}

.header-right ul li span {
    position: absolute;
    top: -50%;
    background: #000;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    border-radius: 50px;
    left: 50%;
}

.header-right ul li i {
    font-size: 20px;
    color: #cc0715;
}

.search-system .form-select:focus {
    border: 1px solid #D8D9D1;
    box-shadow: none;
}

.search-system .form-select {
    border-radius: 0;
    margin-bottom: 10px;
}

.search-system select {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.search-system {
    padding: 15px;
    padding-bottom: 0;
}

.search-system .form-group {
    position: relative;
}

.search-system .form-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-system .form-group input {
    height: auto;
    border-radius: 0;
    border: 1px solid #D8D9D1 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 10px;
}

.product-search-retult {
    background: #CC0715;
    padding: 15px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1;
}

/* new menu css */
.logo img {
    width: 150px;
    max-width: 150px;
}

.main-menu ul li .sub-menu {
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 200px;
    padding: 15px 10px;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.main-menu ul li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.main-menu ul li .sub-menu li a {
    color: #000 !important;
    font-size: 14px;
    font-weight:600;
    text-transform: capitalize !important;
    transition: all .5s ease-in-out;
    display: block;
}

.main-menu ul li .sub-menu li:hover>a {
    color: #222222 !important;
}

.main-menu ul li .sub-menu li {
    padding: 4px 5px !important;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu ul li .sub-menu li i {
    font-size: 12px;
}


.main-menu ul li .sub-menu li .child-menu {
    position: absolute;
    left: 105%;
    width: 200px;
    background: #fff;
    top: 0;
    border: 1px solid #d0d0d0;
    padding: 10px;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 100%;
}

.main-menu ul li .sub-menu li:hover .child-menu {
    opacity: 1;
    top: 0;
    visibility: visible;
}

/* offcanvas search product */

.offcanvas-body.search-product-list {
    padding-top: 0;
}


.search-product-image img {
    width: 100%;
    height: 100%;
}

.search-product-image {
    margin-right: 10px;
    max-width: 100px;
    max-height: 120px;
}

.search-product-content a {
    color: #1a1717;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
}

.search-product-content span {
    color: #000;
}

.single-product {
    margin-bottom: 20px;
}

.searhing-product {
    border-bottom: 1px solid #000;
}


.search_view_product {
    color: #000;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 0;
}

.search_view_product:hover {
    color: #CC0715 !important;
}

/* offcanvas login */

/* page header start */
.page-header {
    background: #F1FCFC;
}

/* page header end */

/* offcanvas shopping cart */

.shopping-empty {
    text-align: center;
    padding: 20px;
}

.shopping-empty i {
    font-size: 30px;
}

.shopping-empty p {
    padding: 10px 0;
}

.shopping-empty a.return_shop {
    background: #CC0715;
    color: #000;
    padding: 12px 20px;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    border-radius: 2px;
}

/* main slider start */
.single-slider {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-area button {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #000;
    background: transparent;
    width: 40px;
    height: 40px;
    font-size: 18px;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.slider-area:hover.slider-area button {
    transform: scale(1);
}

.slider-area button.slick-next {
    right: 30px;
    z-index: 999;
}

.slider-area button.slick-prev {
    left: 30px;
}

/* main slider end */


/* special collection start */

.slick-slide {
    margin: 0 5px;
}


/* new css product */
.special-image-content a {
    color: #000;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
}

.special-image-content .price span {
    margin-right: 10px;
    /*cursor: auto;*/
}

.price {
    cursor: text;
}

.special-image-front img {
    height: 100%;
    width: 100%;
}

.special-image-back img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .9s ease-in-out;
}

.back-quick-view {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 5px 20px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all .9s ease-in-out;
}

.special-image:hover .back-quick-view {
    opacity: 1;
    visibility: visible;
}

.back-quick-view i {
    cursor: pointer;
}

.special-image-back:hover .back-quick-view {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.special-image-back {
    position: absolute;
    transition: all .9s ease-in-out;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.special-image {
    position: relative;
    transition: all .9s ease-in-out;
}

.special-image:hover .special-image-back {
    opacity: 1;
    visibility: visible;
}

.special-image-back:hover.special-image-back img {
    transform: scale(1.05);
    transition: all .9s ease-in-out;
}


.special-product-active button,
.announcement-active button,
.hotdeal_slider button,
.category_slider_wrapper button{
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #000;
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
}

.special-product-active button.slick-next,
.announcement-active button.slick-next,
.hotdeal_slider button.slick-next,
.category_slider_wrapper button.slick-next{
    right: 20px;
}

.special-product-active button.slick-prev,
.announcement-active button.slick-prev {
    left: 20px;
}

.product-size .btn {
    padding: 5px 15px;
    color: #000;
    border: none;
    background: #CC0715;
}

.product-size .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #fff;
    background-color: #000;
}

.product_quantity {
    display: flex;
    padding: 2px;
    align-items: center;
    border: 2px solid #000;
    width: 100px;
    justify-content: center;
}

.quantity__minus,
.quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    text-align: center;
    line-height: 23px;
}

.quantity__minus {
    border-radius: 3px 0 0 3px;
}

.quantity__input:focus {
    border: none;
}

.quantity__plus {
    border-radius: 0 3px 3px 0;
}

.quantity__minus i,
.quantity__plus i {
    color: #000;
}

.quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #fff;
    color: #000;
    border: none;
}

.product_button {
    margin-top: 10px;
}

.product_button li {
    background: #000;
    padding: 5px;
    margin-right: 5px;
}

.product_button li button {
    border: none;
    background: transparent;
    color: #fff;
}

.subscribe-content form input:focus {
    background: #fff;
}

.product_button li a {
    color: #fff;
    padding: 1px 10px;
}

.quick-view-product-slider-active img {
    height: 100%;
    width: 100%;
}

.product-count-item li {
    border: 1px solid #000;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.product-count-item .product-cart-btn {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.quick-view-details {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}

.quick-view-details i {
    margin-left: 10px;
}

.quick-view-product {
    display: flex;
}

.quick-view-product-slider-active {
    width: 50%;
}

.quick-view-product-content {
    width: 50%;
    padding: 10px;
}

.quick-view-product-content .search-product-content a {
    font-size: 20px;
}

.quick-view-product-content .search-product-content span {
    font-size: 16px;
    margin: 0;
    display: block;
}

.quick-view-product-content p {
    font-size: 14px;
    margin-bottom: 15px;
}

.product-count-item {
    margin: 10px 0;
}

.quick-view-product-content .quick-view-details {
    position: absolute;
    bottom: 20px;
}

/* special collection end */

/* special shop collection start */
.shop-collection-area {
    padding: 50px 0;
}

.single-shop-collection img {
    width: 100%;
    max-height: 442px;
    min-height: 442px;
    object-fit: cover;
}

.single-shop-collection {
    display: block;
    overflow: hidden;
    transition: all .9s ease-in-out;
}

.single-shop-collection:hover.single-shop-collection img {
    transform: scale(1.05);
    transition: all .9s ease-in-out;
}

/* special shop collection end */

/* announcement start */
.single-announcement {
    cursor: pointer;
}

.announcement-content {
    padding: 15px 0;
}

.announcement-content a {
    margin-top: 10px;
}

.single-announcement a {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    position: relative;
}

.single-announcement a i {
    margin-left: 5px;
    transition: all .5s ease-in-out;
    position: absolute;
    left: 20px;
    opacity: 0;
    visibility: hidden;
}

.single-announcement:hover.single-announcement a i {
    left: 80px;
    opacity: 1;
    visibility: visible;
}

.single-announcement img {
    width: 100%;
    max-height: 400px;
    transition: all .99s ease-in-out;
    overflow: hidden;
    height: 100%;
    object-fit: cover;

}

.single-announcement:hover.single-announcement img {
    transform: scale(1.2);
}

.announcement-image {
    overflow: hidden;
}

/* announcement end */

/* subscribe start */
.subscribe-area {
    position: relative;
    padding: 30px 0;
    background: #C13B2C;
}

/* .subscribe-area::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.subscribe-content input {
    border-radius: 0;
    border: 1px solid #CC0715;
    height: auto;
    padding: 10px;
    border-right: 0;
}

.subscribe-content button {
    border-radius: 0;
    padding: 10px 30px;
}

.subscribe-contents h5 {
    color: #fff;
}

.subscribe-contents {
    display: flex;
    align-items: center;
}

.subscribe-contents img {
    max-width: 96px;
    height: 50px;
    margin-right: 30px;
}

.subscribe-content h4::after {
    position: absolute;
    content: '';
    background: #CC0715;
    width: 100px;
    height: 2px;
    left: 0;
    top: 100%;
    border-radius: 100%;
    padding: 3px;
    right: 0;
    margin: auto;
}

.subscribe-content p {
    margin-bottom: 20px;
    color: #fff;
}

/* subscribe end */

/* product cart start */

.product-remove {
    position: absolute;
    right: 0;
}

.cart-product-list {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.product-remove i {
    cursor: pointer;
}

.cart-product-price li {
    font-size: 16px;
}

.cart-product-price {
    margin-top: 10px;
}

.cart-checkout {
    margin-top: 30px;
}

/* product cart end */

/* common css */
.section-heading {
    margin-bottom: 20px;
}

.section-heading h3,
.section-heading h5 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.section-heading h3::after,
.section-heading h5::after {
    position: absolute;
    content: '';
    background: #CC0715;
    width: 100px;
    height: 2px;
    border-radius: 100%;
    padding: 2px;
    margin: auto;
    left: 0;
    right: 0;
    top: 100%;
}

.section-heading span {
    text-transform: capitalize;
    color: #000;
    font-size: 15px;
}



/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    /* .special-image-front img {
        height: 500px;
    }

    .special-image-back img {
        height: 490px;

    } */

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    /* .special-collection-image img {
        height: 400px;
    }

    .special-image-front img,
    .special-image-back,
    .special-image-back img {
        height: 400px !important;
    } */
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .special-image-quick-view {
        display: flex;
    }

    .subscribe-contents {
        margin-bottom: 20px;
    }

    /* .special-image-front img,
    .special-image-back,
    .special-image-back img {
        height: 400px !important;
    } */

    .quick-view-product {
        display: block !important;
    }

    .quick-view-product-slider-active,
    .quick-view-product-content {
        width: 100%;
    }

    .quick-view-product-slider-active img {
        height: 400px;
    }

    .quick-view-product-content .quick-view-details {
        bottom: 0;
    }

    .spcial-image-quick {
        display: none;
    }

    .special-collection-image img {
        height: 300px;
    }

    .special-collection-image {
        height: 400px;
    }


}


/* small mobile :320px. */
@media (max-width: 767px) {
    .special-image-quick-view {
        display: flex;
    }

    .special-collection-image {
        height: 200px;
    }

    .single-announcement:hover.single-announcement a i {
        left: 30%;
    }
.section-heading h3, .section-heading h5 {
    font-size: 20px !important;
}
.special-collection-area {
	padding: 30px 0;
	padding-top: 0 !important;
}
.single-shop-collection img {
    max-height: 300px !important;
    min-height: 300px !important;
}
    .quick-view-product {
        display: block !important;
    }
.special-product-active button, .announcement-active button, .hotdeal_slider button, .category_slider_wrapper button {
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.product-tabs {
	padding-top: 0 !important;
}
.logo_bottom a img {
    width: auto !important;
}
.slider-area button {
	border: 2px solid #000;
	background: #fff;
	width: 25px;
	line-height:1;
	height: 25px;
	font-size: 12px;
	border-radius: 50%;
}
    .quick-view-product-slider-active,
    .quick-view-product-content {
        width: 100%;
    }

    .quick-view-product-slider-active img {
        height: 300px !important;
    }

    .subscribe-contents {
        margin-bottom: 20px;
    }

    .quick-view-product-content .quick-view-details {
        bottom: 0;
    }

    .spcial-image-quick {
        display: none;
    }

    .single-announcement img {
        max-height: 300px;
    }

    .special-collection-image img {
        height: 300px;
    }

    .category-product-4tab .special-collection-image img {
        height: 200px !important;
    }

    /* .special-image-front img,
    .special-image-back,
    .special-image-back img {
        height: 200px !important;
    } */

    #quickViewModal .quick-view-product-slider-active img {
        height: 400px !important;
        max-height: 400px;
    }

    /*.product_button {*/
    /*  display: block !important;*/
    /*}*/
    .product_button li {
        margin-bottom: 5px;
    }

    .product_button li:last-child {
        margin-bottom: 0;
    }

    #cart_shopping .product_button {
        display: block !important;
    }

    .banner-left-icon {
        margin-bottom: 20px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .subscribe-contents {
        margin-bottom: 20px;
    }

    /* .special-image-front img {
        height: 300px;
    } */

    /* .special-image-front img,
    .special-image-back,
    .special-image-back img {
        height: 300px !important;
    }

    .special-image-back {
        height: 300px;
    }

    .special-image-back img {
        height: 300px;
    } */

    .special-image-quick-view {
        display: flex;
    }

    .quick-view-product {
        display: block !important;
    }

    .quick-view-product-slider-active,
    .quick-view-product-content {
        width: 100%;
    }

    .quick-view-product-slider-active img {
        height: 400px;
    }

    .quick-view-product-content .quick-view-details {
        bottom: 0;
    }

    .category-product-4tab .special-collection-image img {
        height: 300px !important;
    }

    .spcial-image-quick {
        display: none;
    }
}

.shop-product-fillter .nav-link.active {
    background: transparent;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 0;
    height: 35px;
}

.shop-product-fillter .nav-link {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 0;
    height: 35px;
}

.special-image-content {
    margin-top: 15px;
}

.shop-product-fillter .nav-item {
    margin: 0 3px;
}

/* category product start */
.category-product-4tab .special-collection-image img {
    width: 100%;
    height: 400px;
}

.category-wise-product {
    padding-top: 50px;
}

.announcement-image::before {
    position: absolute;
    border-radius: 50%;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, .3);
    transition: all .8s ease-in-out;
    content: "";
    z-index: 2;
}

.single-announcement:hover .announcement-image::before {
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
}

.announcement-image {
    position: relative;
}

/* category product end */
.search-system button i {
    color: #000;
}

.search-system button {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    transform: translateY(10px);
    top: 10%;
    width: auto;
}

.regular-view-price span {
    margin: 0 !important;
}

.search-system button[type="submit"]:hover {
    background-color: transparent !important;
}

#miniCart ul li {
    display: flex;
    justify-content: space-between;
}

.shopping-cart-img {
    margin-right: 10px;
    max-width: 100px;
    max-height: 120px;
}

.shopping-cart-title h4 a {
    color: #1a1717;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.shopping-cart-title {
    width: 100%;
}

.shopping-cart-title .cart-product-quantity span {
    margin-bottom: 10px;
}

.header-menu.header-sticky.sticky {
    position: fixed;
    z-index: 1024;
    top: 0;
    background: #fff;
}

.home_btn i {
    font-size: 20px;
    display: block;
    color: #052b58;
}

/*.header-menu.header-sticky.sticky::after {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #000;*/
/*    content: '';*/
/*    opacity: .1;*/
/*    z-index: -1;*/
/*}*/

.auth-form {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 0;
}

.auth-form h4 {
    text-align: center;
    margin-bottom: 20px;
}

.blog-left-side h4 {
    background: #F2F2F2;
    font-size: 17px;
    padding: 10px;
}

.blog-left-side h4 i {
    color: #CC0715;
    margin-right: 5px;
}

.blog-left-side ul li {
    border: 1px solid #EBEBEB;
}

.blog-left-side ul li a {
    color: #000;
    text-transform: capitalize;
    padding: 10px;
    display: flex;
    font-size: 13px;
    transition: all .5s ease-in-out;
    justify-content: space-between;
}

.single-blog {
    position: relative;
    padding: 5px;
    margin-bottom: 15px;
}

.blog-date {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    background: #fff;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.blog-date strong {
    margin-top: 2px;
    display: block;
    color: #909090;
    font-weight: 800;
    font-size: 20px;
}

.blog-date strong span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}

.blog-details-img img {
    height: 600px;
    width: 100%;
}

.blog-content {
    padding: 10px 0;
}

.blog-content ul {
    padding-top: 5px;
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.blog-content ul li {
    font-size: 14px;
    color: #b7b7b7;
    margin-right: 12px;
    text-transform: capitalize;
}

.blog-content ul li i {
    margin-right: 5px;
}

h3.area-heading {
    text-align: center;
    margin-bottom: 10px;
}

.special-collection-area {
    padding: 30px 0;
}

.all__categories {
    position: relative;
    /* text-align: center; */
}

.all__categories li span {
    /* background: #C90312; */
    /* padding: 5px 10px; */
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    /* width: 100%; */
    /* max-width: 230px; */
    transition: all .5s ease-in-out;
    display: inline-block;
    text-align: center;
    font-weight: 500;
}

.all__categories li span:hover {
    color: #C90312;
}

.all__categories li span i {
    margin-right: 5px;
}

.all__categories .category {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 999;
    padding: 10px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    border: 1px solid #ddd;
    display: none;
    max-width: 230px;
    min-width: 230px;
    margin-top: 10px;
}

.all__categories .category li a {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    display: block;
}

.all__categories .category li {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: all .5s ease-in-out;
    padding: 5px 10px;
    color: #000;
    border-radius: 3px;
}

.all__categories .category li:hover {
    background: #C90312;
}

.all__categories .category li:hover>a,
.all__categories .category li:hover>i,
.all__categories .category li .subcategory li:hover>a,
.all__categories .category li .subcategory li:hover>i,
.all__categories .category li .subcategory .childcategory li:hover a {
    color: #fff;
}

.all__categories .category li .subcategory {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


.all__categories .category li:hover>.subcategory {
    opacity: 1;
    visibility: visible;
}

.all__categories .category li .subcategory .childcategory {
    position: absolute;
    left: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.all__categories .category li .subcategory li:hover>.childcategory {
    opacity: 1;
    visibility: visible;
}

.all__categories .category li .subcategory .childcategory li a {
    transition: all .5s ease-in-out;
}

.product__rating {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.product__rating i {
    color: #ffb301;
}

.product__rating label {
    margin-right: 10px;
    margin-bottom: 0;
}

.rating-checked {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating-checked input {
    border: none;
}

.rating-checked input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 40px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.review__form input {
    height: auto;
    padding: 10px;
    border-radius: 3px;
}

.review__form button {
    padding: 10px;
    border-radius: 1px;
    border: none;
    background: #5E23A6;
}

.rating-checked {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating-checked input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 40px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.rating-checked input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 18px;
    color: #111;
    transition: 0.5s;
}

.rating-checked input:hover~input::before,
.rating-checked input:hover::before,
.rating-checked input:checked~input::before,
.rating-checked input:checked::before {
    color: var(--r);
}

.review_list {
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.single-review-item {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.single-review-item .rating i {
    color: #c90312;
}

.header__search input {
    border-radius: 50px !important;
}

.header__search .form-group {
    margin-bottom: 0;
}

.header__search button {
    position: absolute;
    top: 0px;
    right: -1px;
    border: none;
    background: #c90312;
    border-radius: 0 4px 4px 0 !important;
    padding: 14px;
    height: 100%;
    width: 60px;
    line-height: 1 !important;
    color: #fff;
}

.header__search button i {
    font-size: 18px;
}



.speciall__images {
    overflow-y: hidden;
    position: inherit;
}

#zoom-fig .MagicZoom {
    overflow: hidden;
}

.slider-active a {
    margin: 0;
}

.product-content-wrap {
    padding: 10px;
}

.header-menu.header-sticky.sticky .all__categories li span {
    display: none;
}

.header__search input:focus {
    background: #fff;
}

.search-area.header__search input {
    padding: 20px;
    height: 0;
}

.subscribe-content h5 {
    color: #fff;
}

.subscribe-content img {
    max-width: 96px;
    height: 50px;
    margin-right: 30px;
}
li.junayna__outlet {
    font-size: 12px;
}

.all_categories_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left:50px;
}

/*.main-menu ul li {*/
/*    padding: 0 8px !important;*/
/*}*/

.sticky .all_categories_wrapper{
    display: none;
}


.header-style-1 .select2-container {
    max-width: unset;
    min-width: 150px;
    width: 140px !important;
}

.header-style-1 .select2-container--default .select2-selection--single {
    border: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 0px;
    width: 155px;
}


form.mx-auto {
    border-radius: 4px;
    max-width: 700px;
    background-color: #fff;
    display: flex;
}

.serch_category_select{}

input.search-field.search {
    max-width: 600px;
    border-width: 0px;
    border-radius: 0 5px 5px 0;
    margin-left: 20px;
    background-color: #fff;
    border: none;
}

.header-style-1 .select2-container--default .select2-selection--single {
    height: 42px;
    line-height: 42px;
}

.header-style-1 .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 42px;
    line-height: 42px;
}

.header-style-1 .select2-container--default .select2-selection--single .select2-selection__arrow b::after {
    content: "" !important;
    height: 6px;
    width: 6px;
    border: 1.7px solid rgb(65 61 78);
    border-left: unset;
    border-top: unset;
    transform: rotate(45deg);
    top: -5px !important;
    right: -15px;
}

.logo_bottom a img {
    width: 60px;
}
.sidebar__menu__system {
    /* position: relative; */
    position: absolute;
    z-index: 9;
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    border-top: none
}
.showMore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #000;
    font-weight: 500;
    cursor:pointer;
}
.showMore i {
    border: 1px solid #000;
    padding: 3px;
    font-size: 10px;
}

.sub-menu li{
    position: unset !important;
}

/*.logo a img {*/
/*    width: 100%;*/
